<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">

  <title>Merkaba</title>

  <meta name="author" content="luisbebop" />
  <meta name="description" content="A palavra Merkaba vem do Egito antigo, onde MER significa luz, KA significa espírito e BA significa realidade física" />

  <link rel="stylesheet" href="/css/normalize.min.css">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="shortcut icon" href="/img/favicon.png">

  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <script type="text/javascript" src="http://use.typekit.com/hit5szk.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <img src="/img/merkaba.png" alt="Merkaba" width="100" height="102"/>

  <h1>Merkaba Investments</h1>

  <p>The Merkaba Investments was born from the desire of its investors to improve the world. It helps young and small companies who have developed solutions based on disruptive technology capable of improving the life from billions of people worldwide. It develops on the invested companies a culture of creativity, innovation, simplicity and sustentability.</p>
  <p>The Merkaba Investments invests in companies of financial technology, healthcare, artificial intelligence and scientific divulgation.</p>
  <p><a href="mailto:luis@merka.ba">Get in touch</a></p>
</body>
</html>
