<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">

  <title>Merkaba</title>

  <meta name="author" content="luisbebop" />
  <meta name="description" content="A palavra Merkaba vem do Egito antigo, onde MER significa luz, KA significa espírito e BA significa realidade física" />

  <link rel="stylesheet" href="/css/normalize.min.css">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="shortcut icon" href="/img/favicon.png">

  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <script type="text/javascript" src="http://use.typekit.com/hit5szk.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <img src="/img/merkaba.png" alt="Merkaba" width="100" height="102"/>

  <h1>Merkaba Participações</h1>

  <p>A Merkaba Participações nasceu do desejo de seus investidores de impactar o mundo de maneira positiva e em algumas décadas o universo. Investe em empresas nascentes e pequenas, que tenham produtos baseados em tecnologias desruptivas capazes de melhorar a vida de bilhões de pessoas ao redor do mundo.</p>
  <p>Desenvolve em suas empresas controladas uma cultura de criatividade, inovação, simplicidade, lucratividade e valorização das pessoas. Saúde, meios de pagamento, biologia sintética e inteligência artificial são alguns dos setores nos quais a Merkaba investe.</p>
</body>
</html>
