<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
  <title>Merkaba Participações</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="robots" content="noindex" />

	<!-- Included CSS Files -->
  <link rel="stylesheet" href="/stylesheets/globals.css">
  <link rel="stylesheet" href="/stylesheets/grid.css">
	<link rel="stylesheet" href="/stylesheets/app.css">

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="stylesheets/ie.css">
	<![endif]-->

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

  <script type="text/javascript" src="http://use.typekit.com/hit5szk.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script src="/javascript/modernizr.foundation.js"></script>
</head>

<body>

  <div class="content">
    <div class="row">
      <div class="columns four">
        <p style="text-align: center"><img src="/images/merkaba.png" id="logo" alt="Merkaba Participações" /></p>
        <h1 class="tk-nimbus-sans-condensed">Merkaba Participações</h1>
        <dfn>A palavra Merkaba vem do Egito antigo, onde MER significa luz, KA significa espírito e BA significa realidade física.</dfn>
      </div>

      <div id="indicadores" class="columns eight tk-nimbus-sans-condensed"> 
        <h2>Plano Bê 2010</h2>
        <p><a href="http://indicadores-2010.planobe.com.br">http://indicadores-2010.planobe.com.br</a></p>
        <h2>Plano Bê 2011</h2>
        <p><a href="http://indicadores-2011.planobe.com.br">http://indicadores-2011.planobe.com.br</a></p>
        <h2>Plano Bê 2012</h2>
        <p><a href="http://indicadores-2012.planobe.com.br">http://indicadores-2012.planobe.com.br</a></p>
        <h2>CloudMed 2012</h2>
        <p><a href="http://indicadores-2012.cloudmed.io">http://indicadores-2012.cloudmed.io</a></p>
      </div>
    </div>
  </div>
  
  <div class="row portfolio">
    <div class="columns four twopay">
      <a href="http://2pay.us"><h3>2Pay</h3></a>
      <p><strong>2Pay: </strong>Aceite cartões de crédito e débito no seu celular. A maneira mais simples e segura de aumentar as suas vendas.</p>
      <a href="http://2pay.us" class="out-link">http://2pay.us</a>
    </div>

    <div class="columns four cloudmed">
      <a href="http://cloudmed.io"><h3>Cloud MED</h3></a>
      <p><strong>Cloud Med: </strong>Soluções eficientes para o mercado de saúde, usando todo o potencial do cloud computing.</p>
      <a href="http://cloudmed.io" class="out-link">http://cloudmed.io</a>
    </div>

    <div class="columns four planobe">
      <a href="http://planobe.com"><h3>Plano Bê</h3></a>
      <p><strong>Plano Bê: </strong>Soluções simples e inteligentes para criação rápida de aplicativos para terminais POS.</p>
      <a href="http://planobe.com" class="out-link">http://planobe.com</a>
    </div>
  </div>
</body>
</html>